
<div id="mainFrame" (drop)="drop($event)"  class="section iframe" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
        <div class="list ">
                <a class="list-item" cdkDrag>
                  Featured
                </a>
                <a class="list-item" cdkDrag>
                  All Posts
                </a>
                <a class="list-item is-active" cdkDrag>
                  Announcements
                </a>
                <a class="list-item" cdkDrag>
                  Business
                </a>
                <a class="list-item" cdkDrag>
                  Community
                </a>
                <a class="list-item" cdkDrag>
                  Data
                </a>
                </div>
   </div> 
   
   <iframe src="http://localhost:4200/#" id="testFrame" (click)="test($event)" frameborder="3 " height="200" width="200"></iframe>