<div class="right">
        <mat-tab-group>
            <mat-tab label="Properties"><br>
                <mat-chip-list>
                    <mat-chip>body</mat-chip>
                    <mat-chip>div</mat-chip>
                    <mat-chip>div</mat-chip>
                    <mat-chip class="is-primary">a</mat-chip>
                </mat-chip-list>
                    <br>
                    <mat-divider></mat-divider>
                <div class="section">              
                    <h1 class="subtitle">styles</h1>       
                </div>       
            </mat-tab>
            <mat-tab label="Options">

            </mat-tab>
        </mat-tab-group>
        <div class="container">
            <h1 class="title">hehferh</h1>
        </div>
        </div>