<mat-toolbar (click)="check($event)">
    <mat-toolbar-row>
        <span  class="navbar-item"><mat-icon class="folder ">folder</mat-icon>File</span>
        <span  class="navbar-item"><mat-icon class="save ">save</mat-icon>save</span>
        <span class="navbar-item"><mat-icon class="undo ">undo</mat-icon>undo</span>
        <span  class="navbar-item"><mat-icon class="redo ">redo</mat-icon>redo</span>
        <span class="example-spacer"></span>
        <mat-icon class="end">smartphone</mat-icon>
        <mat-icon class="end">tablet</mat-icon>
        <mat-icon class="end">laptop</mat-icon>
        <mat-icon class="end">desktop_windows</mat-icon>
        <span class="navbar-item">preview<mat-icon> radio_button_checked</mat-icon></span>
    </mat-toolbar-row> 
</mat-toolbar>