<div class="navbar toolbar">
    <div class="navbar-brand">
        <a href="#" class="navbar-item"> <span class="spanback"><i class="fa fa-file" aria-hidden="true"> </i> </span> File</a>
        <a href="#" class="navbar-item"><span class="spanback"><i class="fa fa-folder-open" aria-hidden="true"> </i> </span>pages</a>
        <a href="#" class="navbar-item"><span class="spanback"><i class="fa fa-undo" aria-hidden="true"> </i> </span>undo</a>
        <a href="#" class="navbar-item"><span class="spanback"><i class="fa fa-repeat" aria-hidden="true"> </i> </span>redo</a>  
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a href="#" class="navbar-item"> <span><i class="fa fa-mobile" aria-hidden="true"></i></span> </a>
            <a href="#" class="navbar-item"> <span ><i class="fa fa-tablet" aria-hidden="true"></i></span> </a>
            <a href="#" class="navbar-item"> <span ><i class="fa fa-laptop" aria-hidden="true"></i></span> </a>
            <a href="#" class="navbar-item"> <span ><i class="fa fa-desktop" aria-hidden="true"></i></span> </a>
            <a href="#" class="navbar-item">Preview <span> <i class="fa fa-toggle-on" aria-hidden="true"></i></span> </a>
        </div>
    </div>
</div>
