<mat-tab-group>
    <mat-tab label="components">
        
        <div class="section">
            <!-- searchform -->
            <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <mat-icon>search</mat-icon>
              </span>
            </p>
          </div>
          <!-- searchform ends -->
        <p>tree goes here</p>
        </div>  
    </mat-tab>
    <mat-tab label="Tags"><div class="section">
            <!-- searchform -->
            <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <mat-icon>search</mat-icon>
              </span>
            </p>
          </div>
          <!-- searchform ends -->
          <p>tags tree goes here</p>
        </div>  </mat-tab>
</mat-tab-group>