<div class="left">
<mat-tab-group>
    <mat-tab label="components">
        
        <div class="section">
            <!-- searchform -->
            <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <mat-icon>search</mat-icon>
              </span>
            </p>
          </div>
          <!-- searchform ends -->
        <div class="others">
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing
             elit. Illo maiores culpa repellat voluptatum 
            odio tenetur reiciendis accusamus voluptatibus. Alias cum dolorum 
            quibusdam dolor incidunt velit ullam quasi! Beatae, necessitatibus
             distinctio?Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Illo maiores culpa repellat voluptatum 
           odio tenetur reiciendis accusamus voluptatibus. Alias cum dolorum 
           quibusdam dolor incidunt velit ullam quasi! Beatae, necessitatibus distinctio?
        </div>
        </div> 
         <mat-divider></mat-divider>
         <div class="section">
             <h1 class="subtitle">Colors</h1>
             <div class="columns">
                 <div class="column is-6"> <div class="mainColor"></div>#ffee32</div>
                 <div class="column is-2"></div>
                 <div class="column is-4">
                     <div class="row">
                         <div class="one"></div>
                         <div class="two"></div>
                         <div class="three"></div>
                         <div class="four"></div>
                     </div>
                 </div>
                 
             </div>
            <button mat-raised-button color="primary">color picker</button>
         </div>
    </mat-tab>
</mat-tab-group>
</div>