<div class="left">
<mat-tab-group>
    <mat-tab label="components">
        
        <div class="section">
            <!-- searchform -->
            <div class="field">
            <p class="control has-icons-left" >
              <input class="input" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <mat-icon>search</mat-icon>
              </span>
            </p>
          </div>
          <!-- searchform ends -->
      <header>
         <div class="details">          
          <a href="#" class="navbar-item" (click)="showComponents()">Components  <mat-icon>{{ componentIcon }}</mat-icon> </a> 
          <ul *ngIf="!ComponentsBool">
            <li class="item" draggable="true" (dragover)="onDragOver($event)">navbar</li>
            <li class="item" draggable="true" (dragover)="onDragOver($event)">Card</li>
            <li class="item" draggable="true" (dragover)="onDragOver($event)">BreadCrumb</li>
            <li class="item" draggable="true" (dragover)="onDragOver($event)">Dropdown</li>
            <li class="item" draggable="true" (dragover)="onDragOver($event)">Massage</li>
          </ul>
        </div>
      </header>
        </div>
    </mat-tab>
</mat-tab-group>
</div>
